<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biz.models.dao.UserDao">
	<insert id="insert">
		INSERT INTO `tbl_user`
		(`userId`,
		`password`,
		`userName`,
		`userRole`)
		VALUES
		(#{userId},
		#{password},
		#{userName},
		#{userRole})
	</insert>
	
	<update id="update">
		UPDATE `tbl_user`
		SET
		`password` = #{password},
		`userName` = #{userName},
		`userRole` = #{userRole}
		WHERE `userId` = #{userId}
				
	</update>
</mapper>