@charset "UTF-8";

.product_box {
	width: 80%;
	margin: 0 auto;
	padding: 0;
}

.title {
	margin: 0;
	font-size: 20px;
	font-weight: bold;
}

.title p {
	margin: 0;
	padding: 15px;
}

.product_flex_box {
	display: flex;
}

#product_image_box {
	margin: 0 auto;
	flex-basis: 40%;
	
	min-width: 400px;
	min-height: 400px;
	max-width: 600px;
	max-height: 600px;
	
	vertical-align: middle;
	border: 1px solid gray;
}

#product_info_box {
	margin: 0 auto;
	flex-basis: 40%;
	width: 80%;
}

.product_name_box {
	border-bottom: 1px solid gray;
}

.product_name {
	display: inline-block;
	font-size: 25px;
	padding: 8px 12px;
}

.product_price {
	display: inline-block;
	font-size: 25px;
	font-weight: bold;
	padding: 8px 12px;
}

.product_detail {
	display: inline-block;
	font-size: 20px;
	padding: 8px 12px;
}

.button_box {
	text-align: right;
	margin-top: 20px;
}

button.product_button {
	padding: 10px 16px;
	margin: 10px;
	border: 2px outset #d9d9d9;
	background-color: white;
	
	font-size: 20px;
	font-weight: bold;
	
	color: black;
}

button.product_button:hover {
	color: white;
	background-color: black;
	cursor: pointer;
}