@charset "UTF-8";

.product_item_box, .product_no_item {
	display: flex;
	padding: 9px 5px;
	margin: 0px auto;
}

.product_no_item p {
	text-align: center;
}

.product_list {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 80%;
}

.product_item_image_box {
	width: 140px;
	height: 140px;
	margin-right: 20px;
	
	border: 1px solid gray;
}
.product_item_info_box {
	width: auto;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.product_item_box {
	cursor: pointer;
	border-top: 1px solid #d9d9d9;
	margin: 0 auto;
}

.product_item_box:hover {
	background-color: #e7e7e7;
}

.item_name {
	display: inline-block;
	font-size: 17px;
	padding: 8px 0;
}

.item_oprice {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	padding: 8px 0;
}

.button_box {
	text-align: right;
	margin-top: 20px;
}

button#info_insert {
	background-color: white;
	padding: 14px 30px;
	
	border: 1px solid skyblue;
	border-radius: 5px;
	color: skyblue;
}

button#info_insert:hover  {
	color: white;
	background-color: skyblue;
	cursor: pointer;
}