@charset "UTF-8";
/* bucket_table css */
table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}
tbody tr[data-id]:hover {
	background-color: #eee;
	cursor: pointer;
}
th:first-child, td:first-child, th:last-child, td:last-child {
    width: 40px;
}
th, td {
	border-bottom: 1px solid #ddd;
	padding: 15px 0;
}
th, td.center {
	text-align: center;
}
td:nth-child(2) {
	white-space: nowrap;
	overflow: hidden;
}