@charset "UTF-8";
/* dropdown css */
.dropdown {
	position: absolute;
	border: 1px solid gray;
	border-radius: 10px;
	width: 100px;
	text-align: center;
	background-color: white; 
}
.dropdown ul {
	list-style: none;
}
.dropdown li {
	padding: 8px 0;
}
.dropdown li:hover {
	background-color: skyblue;
	color: white;
	cursor: pointer;
}
.dropdown li:first-child:hover{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.dropdown li:last-child:hover{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.dropdown_inactive {
	display: none;
}
.dropdown_active {
	display: block;
}