@charset "UTF-8";
.edit_modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.edit_form {
	background-color: rgba(255, 255, 255, 0.4);
	max-width: 730px;
	min-width: 300px;
	margin: 150px auto;
	padding: 15px;
	display: flex;
}

.edit_form input {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	
	font-size: large;
	
	margin-right: 3%;
}
.btn_edit_done {
	display: block;
	margin-left: auto;
	
	padding: 10px 0;
	width: 10%;
	text-align: center;
	
	background-color: white;
	border: 1px solid skyblue;
	border-radius: 3px;
	color: skyblue;
	
	cursor: pointer;
}
.btn_edit_done:hover {
	background-color: skyblue;
	color: white;
}

.close_box {
	text-align: right;
}
span#close {
	font-size: xx-large;
	margin-left: auto; 
	color: white;
	cursor:pointer;
	padding: 6px 15px;
}
span#close:hover {
	background-color: rgba(0, 0, 0, 0.8);
}