@charset "UTF-8";
article.page_box {
	margin:15px auto;
	padding:16px;
	border-top: 1px solid gree;
	border-buttom: 1px solid gree;
}
ul.page_body {
	list-style:none;
	display: flex;
	justify-content: center;
	align-items: center;
}
a.page_link {
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	line-height: 1.25;
	color:#007bff;
	background-color: #fff;
	border:1px solid #DEE2E6;
	text-decoration: none;
	cursor: pointer;
}
a.page_link:hover {
	color:#0056B3;
	background-color: #E9ECEF;
	border-color: #DEE2E6;
	text-decoration: none;
}
a.page_link:focus {
	z-index:3;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,0.25);
}
li.page_item.active a.page_link{
	z-index:3;
	color:#fff;
	background-color: #007BFF;
	border-color:  #007BFF;
}