<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.iolist.persistence.ProductDao">
	<select id="findAll" resultType="ProductDTO">
		select * from tbl_product
	</select>
	
	<select id="findByPCode" resultType="ProductDTO">
		select * from tbl_product where p_code = #{p_code}
	</select>
	
	<select id="findByPName" resultType="ProductDTO">
		select * from tbl_product where p_name like '%' || #{p_name} || '%'
	</select>
	
	<select id="getMaxPCode" resultType="String">
		select max(p_code) from tbl_product
	</select>
	
	<insert id="insert" parameterType="ProductDTO">
		insert into TBL_PRODUCT(
			P_CODE,
			P_NAME,
			P_IPRICE,
			P_OPRICE,
			P_VAT
		) values (
			#{p_code,jdbcType=VARCHAR},
			#{p_name,jdbcType=VARCHAR},
			#{p_iprice,jdbcType=VARCHAR},
			#{p_oprice,jdbcType=VARCHAR},
			#{p_vat,jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="update" parameterType="ProductDTO">
		update TBL_PRODUCT set
			P_NAME = #{p_name,jdbcType=VARCHAR},
			P_IPRICE = #{p_iprice,jdbcType=VARCHAR},
			P_OPRICE = #{p_oprice,jdbcType=VARCHAR},
			P_VAT = #{p_vat,jdbcType=VARCHAR}
		where P_CODE = #{p_code}
	</update>
	
	<delete id="delete" parameterType="String">
		delete from TBL_PRODUCT
		WHERE P_CODE = #{p_code}
	</delete>
	
</mapper>