@charset "UTF-8";
table {
	margin: 20px auto;
	width: 100%;
	border-collapse: collapse;
}
		
th, td {
	text-align: center;
	padding: 9px 5px;
}

thead tr {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

tbody tr {
	cursor: pointer;
	border-bottom: 1px solid #d9d9d9;
}

tbody tr:hover {
	background-color: black;
	color: white;
}

.mail_box {
	text-align: right;
}

#send_mail {
	padding: 10px;
	background-color: #00E0FF;
	border: 1px solid #00E0FF;
	border-radius: 5px;
	
	cursor: pointer;
}

#send_mail:hover {
	background-color: black;
	border: 1px solid black;
	color: white;
}