@charset "UTF-8";
.serv-link {
	border: 2px solid black;
	width: 45%;
	margin: 15px auto;
	padding: 3px 18px;
	cursor: pointer;
}

.serv-link:hover {
	border: 2px solid white;
	box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5);
}


.page-box {
	margin:15px auto;
	padding:16px;
	border-top: 1px solid gree;
	border-buttom: 1px solid gree;
}
.page-body {
	list-style:none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.page-link {
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	line-height: 1.25;
	color:#007bff;
	background-color: #fff;
	border:1px solid #DEE2E6;
	text-decoration: none;
}
.page-link:hover {
	color:#0056B3;
	background-color: #E9ECEF;
	border-color: #DEE2E6;
}
.page-link:focus {
	z-index:3;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,0.25);
}
.page-item.active .page-link{
	z-index:3;
	color:#fff;
	background-color: #007BFF;
	border-color:  #007BFF;
}