<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.bucket.mapper.BucketDao">

	<select id="selectAllByPage" resultType="bucketDTO">
		SELECT *
		FROM tbl_bucket
		ORDER BY b_order ASC
		LIMIT #{limit} OFFSET #{offset}
	</select>

	<insert id="insert">
		INSERT INTO tbl_bucket(
			b_order,
			b_content,
			b_success
		) VALUES (
			#{b_order},
			#{b_content},
			#{b_success}
		)
	</insert>
	
	<update id="update">
		UPDATE tbl_bucket
		SET
			b_order = #{b_order},
			b_content = #{b_content},
			b_success = #{b_success}
		WHERE b_id = #{b_id}
	</update>
	
	<update id="orderMinusOne">
		UPDATE tbl_bucket
		SET
			b_order = b_order - 1
		WHERE b_order > #{b_order}
	</update>
	
	<update id="orderChange">
		UPDATE tbl_bucket
		SET b_order =
		CASE
			WHEN b_order = #{b_order}
				THEN b_order - 1
			WHEN b_order = #{b_order2}
				THEN b_order + 1
		END
		WHERE b_order IN (#{b_order},#{b_order2)
	</update>
</mapper>